<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head :: head"></head>
<body>
    <div class="container-fluid">
    <p style="display: none">Incorrect Username or Password</p>
    <div class="input-group centerDiv">
        <div class="input-form">
            <span>Username</span>
            <input type="text" class="form-control" placeholder="Username"></input>
        </div>
        <div class="input-group">
            <span>Password:</span>
            <input type="text" class="form-control" placeholder="Password"></input>
        </div>
        <input class="btn btn-success btn-block" type="submit"></input>
    </div>
    </div>
</body>
</html>