*.class

# OS-X
**/.DS_Store

# IntelliJ
.idea/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# iml files
*.iml

# target folder
target/*
/target/
target/
/src/test/java/com/codecool/shop/dao/implementation/db/partial.xml
sample.log
sample.properties

src/test/java/com/codecool/shop/dao/implementation/db/partial.xml
/src/main/resources/connection/connection.properties
/log/
