<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>


    <!--Display the developer in table-->
    <div th:fragment="aboutuscontent">
        <div th:replace="fragment/header :: header"></div>

        <div class="container">

            <div class="row">

                <div class="col-sm-2 col-lg-2 col-md-2">
                    <img class="group list-group-image img-circle mb-7 hero-image" src="/img/profil/profil_david.jpg" alt="" width="200" height="200"/>
                    <div class="caption">
                        <h4><a>Fehér Dávid</a></h4>
                    </div>
                </div>
                <div class="col-sm-2 col-lg-2 col-md-2">
                    <img class="group list-group-image img-circle mb-7 hero-image" src="/img/profil/profil_vivi.jpg" alt="" width="200" height="200"/>
                    <div class="caption">
                        <h4><a>Együd Vivien</a></h4>
                    </div>
                </div>
                <div class="col-sm-2 col-lg-2 col-md-2">
                    <img class="group list-group-image img-circle mb-7 hero-image" src="/img/profil/profil_csibi.jpg" alt="" width="200" height="200"/>
                    <div class="caption">
                        <h4><a>Berkó József</a></h4>
                    </div>
                </div>
                <div class="col-sm-2 col-lg-2 col-md-2">
                    <img class="group list-group-image img-circle mb-7 hero-image" src="/img/profil/profil_moni.jpg" alt="" width="200" height="200"/>
                    <div class="caption">
                        <h4><a>Lombos Mónika</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>