<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <!--Display afterpay page-->
        <div th:fragment="afterpaycontent">

            <div class="container">
                <div class="jumbotron">
                    <h1>Thanks for visiting codecool.com!</h1>
                    <h1><i class="fa fa-shopping-basket"></i></h1>
                    <p> Visit Your Account at codecool.com to view your orders, make changes to any order that has not yet entered the shipping process, update your subscriptions, and much more.

                        Should you need to contact us for any reason, please know that we can give out order information only to the name and e-mail address associated with your account. Thank you again for shopping with us.
                    </p>
                </div>
                <!--<p>This is some text.</p>-->
                <!--<p>This is another text.</p>-->
            </div>

        </div>
    </body>
</html>