<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--Display the cart content in table-->
    <div th:fragment="cartcontent">
        <div th:if="${cart}">
            <div class="panel panel-default container-fluid">
                <!-- Default panel contents -->
                <div class="panel-heading row">
                    <h4 class="col-xs-9">Cart Content</h4>
                </div>
                <div class="panel-body">
                    <!--Table content-->
                    <div th:replace="fragment/cartitem :: cartitem"></div>
                </div>
                <div class="panel-footer text-right row" th:text="'Total Price: ' + ${#numbers.formatDecimal(cart.getTotalPrice(), 0, 1)} + ' USD'">Product list</div>

            </div>
            <div class="text-right">
                <a th:class="${cart.getTotalPrice() != 0.0} ? 'btn btn-success' : 'btn btn-success disabled' "  href="/checkout"><span>Checkout</span></a>
            </div>
        </div>
        <!--In case of the cart is empty-->
        <div th:unless="${cart}">
             <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                Your cart is empty!
            </div>
        </div>
    </div>
</body>
</html>