<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--Display the cart content in table-->
    <div th:fragment="cartcontent">
        <div th:if="${cart}">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Product list</div>
                <div class="panel-body">
                    <!--Table content-->
                    <table class="table table-hover text-center">
                        <thead>
                            <th>Name</th>
                            <th class="text-center">Unit price</th>
                            <th class="text-center">Sum price</th>
                            <th class="text-center">Currency</th>
                            <th class="text-center">Quantity</th>
                        </thead>
                        <tbody>
                            <tr th:each="prod, iterStat : ${cart.getItemsToBuy()}">
                                <td class="prod-name" th:text="${prod.name}"></td>
                                <td th:text="${prod.defaultPrice}"></td>
                                <td th:text="${#numbers.formatDecimal(prod.defaultPrice*prod.getQuantity(), 0, 1)}"></td>
                                <td th:text="${prod.defaultCurrency}"></td>
                                <td th:text="${prod.getQuantity()}"></td>
                                <td><a class="btn btn-success" th:attr="href='/add' + '/' + ${prod.getId()}">+</a></td>
                                <td><a class="btn btn-success" th:attr="href='/remove' + '/' + ${prod.getId()}">-</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--In case of the cart is empty-->
        <div th:unless="${cart}">
            <p>Your cart is empty!</p>
        </div>
    </div>
</body>
</html>