<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--Display footer-->
    <div th:fragment="footer">

        <footer >
            <div class="container">
                <div class="pull-right">
                    <nav class="navbar">
                        <nav class="nav navbar-nav pull-xs-left">
                            <a class="nav-item nav-link" href="/">Home</a>
                            <a class="nav-item nav-link" href="#">About Us</a>
                        </nav>
                    </nav>
                </div>

                <a href="https://www.facebook.com/CodecoolOfficial/"><i class="fa fa-facebook-official fa-2x"></i></a>
                <a href="https://github.com/CodecoolBP20161/from-python-to-java-codecool-shop-berko-egyud-feher-lombos"><i class="fa fa-github"></i></a>

                <p class="h6">
                    PindúrPandúrok
                    <a href="http://www.paradigmOz.com" target="_blank"></a>
                </p>
            </div>
        </footer>

    </div>
</body>
</html>