<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--Display footer-->
    <div th:fragment="footer">

        <div class="container">


            <!-- Footer -->
            <footer>
                <div class="row text-center">
                    <div class="col-lg-12">
                        <p>Copyright &copy; 2016 Codecool Budapest</p>
                    </div>
                </div>
            </footer>

        </div>

    </div>
</body>
</html>