<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--Display footer-->
<div th:fragment="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a class="navbar-brand" th:attr="href='/'">Codecool Shop</a>
                    </li>

                    <li>
                        <a th:href="'/aboutus'">About Us</a>
                    </li>
                    <li>
                        <a th:href="'/cartcontent'"
                           th:text="${cart} ? 'Cart ('+ ${cart.totalQuantity} + ')' : 'Cart (0)'">
                            Cart
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-btn signButtons" th:if="${authenticated}">
                        <div class="btn btn-default"><b th:text="'Welcome,' + ${username} + '!'"></b></div>
                       <!-- <p class=".bg-success welcome"><b th:text="'Welcome,' + ${username} + '!'"></b></p>-->
                    </li>
                    <li class="navbar-btn signButtons" th:if="${not authenticated}">
                        <button class="btn btn-default"><a class="anchorButton" th:href="'/signin'" ><b>Sign In</b></a></button>
                    </li>
                    <li class="navbar-btn signButtons" th:if="${ not authenticated}">
                        <button href="/signup" class="btn btn-success"><a class="anchorButton"  th:href="'/signup'" ><b>Sign Up</b></a></button>
                    </li>
                    <li class="navbar-btn signButtons" th:if="${authenticated}">
                        <button href="/logout" class="btn btn-success"><a class="anchorButton"  th:href="'/logout'" ><b>Logout</b></a></button>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
</body>
</html>