<!doctype html>

<!--xmlns -> xml namespace -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="frag (templateName)">
        <div th:replace="header :: header"></div>
        <div id="main" class="clear">
            <div th:replace="sidebar :: sidebar"></div>
            <div id="products-container" class="container">
                <div class="row">
                    <div th:replace="navbar :: navbar"></div>
                    <div th:replace="shoppingcartbtn :: shoppingcartbtn"></div>
                </div>
                <div th:if="${templateName == 'product'}" th:include="${templateName} :: ${templateName}"></div>
                <div th:if="${templateName == 'cartcontent'}" th:include="${templateName} :: ${templateName}"></div>
            </div>
        </div>
        <div th:replace="footer :: footer"></div>
    </div>
</body>
</html>