<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="navbar">
    <div class="well well-sm">
        <strong th:text="${category.name}">Category Title</strong>
        <div class="pull-right"><a class="btn btn-default cart-btn" href="#"><p th:text="${cart} ? ${cart.totalQuantity} : '0'"></p>
            <img class="cart-img" th:attr="src='/img/shopping-cart.png'" alt="" /></a></div>
    </div>
</div>

<div th:fragment="sidebar">
    <div id="sidebar" class="btn-group-vertical" role="group" aria-label="..."  th:each="cat,iterStat : ${category}">
        <button type="button" class="btn btn-default" th:text="${cat.name}">Test1</button>
        <button type="button" class="btn btn-default">Test2</button>
        <button type="button" class="btn btn-default">Test3</button>
        <button type="button" class="btn btn-default">Test4</button>
    </div>
</div>

<div th:fragment="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div>&copy; 2016 Codecool Budapest</div>
        </div>
    </nav>
</div>


</body>
</html>