<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <body>
        <!--Display the selected products-->
        <div th:fragment="pagination">
            <nav aria-label="...">
                <ul class="pagination" th:each="page,iterStat : ${pageNumber}">
                    <li th:class="${paginationNumber == page} ? 'active' "><a th:href="'?paginationNumber=' + ${page}" th:text="${page}">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>

