<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
    <!--Display the postalfee-->
    <div th:fragment="postalfee">
        <div>
            <div class="col-sm-4 col-lg-4 col-md-4" th:each="cost,iterStat : ${shippinginformation}">
                <p th:text="'Total Price: ' + ${#numbers.formatDecimal(cost, 0, 1)} + ' USD'">Product description <a target="_blank" href="#"></a>.</p>
            </div>
        </div>
    </div>
</body>
</html>
