<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--Display the selected products-->
    <div th:fragment="product">
        <div class="row">

            <div class="col-sm-4 col-lg-4 col-md-4" th:each="prod,iterStat : ${products}">
                <div class="thumbnail">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product/product_' + ${prod.id} + '.jpg'" alt="" />
                    <div class="caption">
                        <h4 class="pull-right" th:text="${prod.getPrice()}">Porduct Price</h4>
                        <h4><a th:text="${prod.name}">Product Name</a></h4>
                        <p th:text="${prod.description}">Product description <a target="_blank" href="#"></a>.</p>
                    </div>
                    <div class="ratings">
                        <div class="pull-right">
                            <a class="btn btn-success btn-xs" th:attr="href='/add' + '/' + ${prod.getId()}">Add to cart</a>
                        </div>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>